/* lobby.css */

body {
    background-color: #080710;
  }
  
  .lobby {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }
  
  .lobby-header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #eaf0fb;
  }
  
  .lobby-header h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #080710;
  }
  
  .lobby-content {
    padding: 20px;
  }
  
  .create-room-form {
    margin-top: 20px;
  }
  
  .create-room-form label {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .create-room-form input {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
  }
  
  .create-room-form button {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .enter-room-form {
    margin-top: 20px;
  }
  
  .enter-room-form label {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .enter-room-form select {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
  }
  
  .enter-room-form button {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout {
    text-align: center;
  }
  
  .logout a {
    color: #ffffff;
    text-decoration: none;
  }
  