body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  margin: 0 auto;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

pre {
  margin: 0 auto;
  width: 300px;
  height: 200px;
  overflow: scroll;
}

a {
  text-decoration: none;
}
